<launch>
  <!-- Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find pntddf_ros)/worlds/demo.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Spawn Jackals -->
  <arg name="rviz"       default="false"/>
  <arg name="nsT"        default="jackal_T"/>
  <arg name="nsU"        default="jackal_U"/>
  <arg name="nsV"        default="jackal_V"/>
  <arg name="configT"    default="base"/>
  <arg name="configT_id" default="T"/>
  <arg name="configU"    default="base"/>
  <arg name="configU_id" default="U"/>
  <arg name="configV"    default="base"/>
  <arg name="configV_id" default="V"/>
  
  <include file="$(find multi_jackal_base)/launch/jackal_base.launch">
    <arg name="ns"            value="$(arg nsT)"/>
    <arg name="config"        value="$(arg configT)"/>
    <arg name="config_id"     value="$(arg configT_id)"/>
    <arg name="use_move_base" value="true"/>
    <arg name="use_global_ekf" default="false"/>
    <arg name="use_global_tf"  default="true"/>
    <arg name="x"             value="0"/>
    <arg name="y"             value="0"/>
  </include>

  <node pkg="tf" type="static_transform_publisher" name="world_transform"
        args="0 0 0 0 0 0 world map 100"/>

  <!-- Launch fake data publisher -->
  <node name="fake_gps" pkg="pntddf_ros" type="test_asset_publisher.py" output="screen" />

  <!-- Launch PNT-DDF instances -->
  <include file="$(find pntddf_ros)/launch/agent.launch"> 
      <arg name="agent_name" value="A"/>
  </include>

  <include file="$(find pntddf_ros)/launch/agent.launch"> 
      <arg name="agent_name" value="B"/>
  </include>

  <include file="$(find pntddf_ros)/launch/agent.launch"> 
    <arg name="agent_name" value="T"/>
  </include>
</launch>
