[ENV]
agent_names = ["A", "B", "T"]
transmission_window = 0.1
max_time = 100
centralized = False
n_dim = 1
lsq_init = True

[ET]
ET = True
delta = 2

[CI]
CI = False
ci_rate = 1

[FILTER]
alpha = 1.0e-1
beta = 2.0
q_sigma_clock = 51e-9
q_sigma_target = 0.05

[x0]
# Clock
b = 0
b_dot = 0
# Position
x_hat = 0
y_hat = 0
z_hat = 0
x_dot_hat = 0.0
y_dot_hat = 0.0
z_dot_hat = 0.0

[P0]
# Clock
sigma_b = 1e1
sigma_b_dot = 1e-1
# Position
sigma_x = 1e3
sigma_x_dot = 1e0

[A]
form = beacon
x = -1000
estimate_clock = False
perfect_clock = True
sigma_clock_process = 51e-9
sigma_clock_reading = 0.13e-9

[B]
form = beacon
x = 1000
estimate_clock = True
perfect_clock = False
sigma_clock_process = 51e-9
sigma_clock_reading = 0.13e-9

[T]
form = rover
# Initial Position
random_initial_state = False
x_0 = 0
x_dot_0 = 0
# Waypoints
waypoints = (100, 0, 0)
	    (-100, 0, 0)
	    (0, 0, 0)
# Clock
estimate_clock = True
perfect_clock = False
sigma_clock_process = 51e-9
sigma_clock_reading = 0.13e-9
gps = True
sigma_gps = 1e1
gps_rate = 5
u_x_mult = 1.0
u_y_mult = 1.0

[Z]
form = centralized
