[ENV]
agent_names = ["A", "B", "T"]
transmission_window = 1.0
max_time = 100
centralized = False
n_dim = 1
lsq_init = True

[ET]
et = True
delta = 5

[CI]
ci = False
ci_rate = 1

[FILTER]
alpha = 1.0e-1
beta = 2.0
q_sigma_clock = 51e-9
q_sigma_target = 1.0

[x0]
b = 0
b_dot = 0
x_hat = 0
y_hat = 0 
z_hat = 0
x_dot_hat = 0.0
y_dot_hat = 0.0
z_dot_hat = 0.0

[P0]
sigma_b = 1e1
sigma_b_dot = 1e-1
sigma_x = 1e3
sigma_x_dot = 1e0

[A]
form = beacon
x = -1000
estimate_clock = False
perfect_clock = True
sigma_clock_process = 51e-9
sigma_clock_reading = 0.13e-9

[B]
form = beacon
x = 1000
estimate_clock = True
perfect_clock = False
sigma_clock_process = 51e-9
sigma_clock_reading = 0.13e-9

[T]
form = rover
random_initial_state = True
x_0 = 0
x_dot_0 = 0
waypoints = (100, 0, 0)
	(-100, 0, 0)
	(0, 0, 0)
estimate_clock = True
perfect_clock = False
sigma_clock_process = 51e-9
sigma_clock_reading = 0.13e-9
gps = False
sigma_gps = 1e0
gps_rate = 5
u_x_mult = 1.0
u_y_mult = 1.0

[Z]
form = centralized

