[ENV]
agent_names = ["A", "B", "C", "D", "T", "U", "V"]
transmission_window = 0.1
max_time = 900
centralized = True
n_dim = 2
lsq_init = True

[ET]
ET = True
delta = 0.0

[CI]
CI = False
ci_rate = 5

[FILTER]
alpha = 1.0e-1
beta = 2.0
q_sigma_clock = 0
q_sigma_target = 5.0

[x0]
# Clock
b = 0
b_dot = 0
# Position
x_hat = 0
y_hat = 0
z_hat = 0
x_dot_hat = 0.0
y_dot_hat = 0.0
z_dot_hat = 0.0

[P0]
# Clock
sigma_b = 1e1
sigma_b_dot = 1e-1
# Position
sigma_x = 1e2
sigma_y = 1e2
sigma_z = 1e1
sigma_x_dot = 1e0
sigma_y_dot = 1e0
sigma_z_dot = 1e0

[A]
form = beacon
x = 10000
y = 0
z = -10000
estimate_clock = False
perfect_clock = True
sigma_clock_process = 51e-9
sigma_clock_reading = 0.13e-9

[B]
form = beacon
x = 0
y = 10000
z = 5000
estimate_clock = True
perfect_clock = False
sigma_clock_process = 51e-9
sigma_clock_reading = 0.13e-9

[C]
form = beacon
x = -10000
y = 0
z = 10000
estimate_clock = True
perfect_clock = False
sigma_clock_process = 51e-9
sigma_clock_reading = 0.13e-9

[D]
form = beacon
x = 0
y = -10000
z = 0
estimate_clock = True
perfect_clock = False
sigma_clock_process = 51e-9
sigma_clock_reading = 0.13e-9

[T]
form = rover
# Initial Position
random_initial_state = False
x_0 = 0
y_0 = 0
z_0 = 0
x_dot_0 = 0
y_dot_0 = 0
z_dot_0 = 0
u_x_mult = 1.0
u_y_mult = 1.0

# Clock
estimate_clock = True
perfect_clock = False
sigma_clock_process = 51e-9
sigma_clock_reading = 0.13e-9
# GPS
gps = False
sigma_gps = 1e1
gps_rate = 5

[U]
form = rover
# Initial Position
random_initial_state = False
x_0 = 25
y_0 = 30
z_0 = 0
x_dot_0 = 0
y_dot_0 = 0
z_dot_0 = 0
u_x_mult = -1.0
u_y_mult = 1.0

# Clock
estimate_clock = True
perfect_clock = False
sigma_clock_process = 51e-9
sigma_clock_reading = 0.13e-9
# GPS
gps = False
sigma_gps = 1e0
gps_rate = 5

[V]
form = rover
# Initial Position
random_initial_state = False
x_0 = -30
y_0 = 10
z_0 = 0
x_dot_0 = 0
y_dot_0 = 0
z_dot_0 = 0
u_x_mult = 1.0
u_y_mult = -1.0

# Clock
estimate_clock = True
perfect_clock = False
sigma_clock_process = 51e-9
sigma_clock_reading = 0.13e-9
# GPS
gps = False
sigma_gps = 1e0
gps_rate = 5

[Z]
form = centralized
